# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
dist/
build/
.build/
*.so

# Environments
.venv/
venv/
ENV/
env/
.env
.python-version

# uv
.uv/

# Ruff
.ruff_cache/

# Test & coverage
.cache/
.pytest_cache/
.coverage
.coverage.*
htmlcov/
.tox/
*.cover

# IDE/editor
*.swp
*.swo
*~
.DS_Store
.idea/
.vscode/

# OS
Thumbs.db
